---
import Navigation from "../components/Navigation.astro";
import Layout from '../layouts/Layout.astro';
import '../styles/base.css';
---

<Layout title="Mert Turkmenoglu">
    <header class="mx-4 sm:mx-0 mt-16">
        <img
            src="/profile.jpg"
            alt="Profile picture"
            width={128}
            height={128}
            class="rounded-full"
        />

        <h1 class="text-3xl sm:text-5xl text-white font-bold mt-4">Mert Türkmenoğlu</h1>
        <ruby>/meɾt tyɾkmenoːlu/</ruby>
        <h2 class="text-xl sm:text-3xl">Software Engineer</h2>
        <hr class="border border-white w-11/12 sm:w-2/3 md:w-1/3 mt-2 px-4" />
    </header>

    <main class="mt-8 mx-4 sm:mx-0 text-base sm:text-xl">
        <div>
            Hi, my name is <abbr class="font-bold" title="/meɾt/">Mert</abbr>. I&apos;m a full-stack software
            engineer, a Kotlin enthusiast, and a violin player. I&apos;m interested in full-stack web
            development, programming languages, and design patterns.
        </div>

        <div class="mt-8">
           Currently, I&apos;m working on <span class="text-accent">Wanderlust</span>, a full-stack travel guide / location discovery application.
        </div>

        <div class="mt-8">
            You can find me as <span class="text-accent">@mertturkmenoglu</span>, <span class="text-accent">@AsyncSquirrel</span>, or <span class="text-accent">@capreaee</span> on most social media platforms.
        </div>

        <div class="mt-8">
            <Navigation />
        </div>
    </main>
</Layout>
