---
---
<div class="border border-neutral-600 rounded-lg flex flex-col items-center justify-center p-1 group hover:border-accent transition duration-200 ease-in-out gap-4 aspect-square">
    <slot />
</div>