---
const links = [
    { href: '/blog', label: 'Blog' },
    { href: 'https://github.com/mertturkmenoglu', label: 'GitHub' },
    { href: 'https://www.linkedin.com/in/mert-turkmenoglu/', label: 'LinkedIn' },
    { href: 'https://twitter.com/capreaee', label: 'Twitter' },
]
---
<nav class="mt-4">
    <ul class="flex items-baseline space-x-4 flew-wrap text-lg">
        {links.map((l) => (
            <li>
                <a
                    href={l.href}
                    class="font-bold text-accent transition-all duration-200 ease-in-out border border-accent px-4 py-1.5 rounded-lg hover:bg-accent hover:text-midnight"
                >
                    {l.label}
                </a>
            </li>
        ))}
    </ul>
</nav>