---
import {
siAmazonwebservices,
siGo,
siHono,
siKotlin,
siNestjs,
siNodedotjs,
siPostgresql,
siReact,
siTailwindcss,
siTypescript,
siVuedotjs,
} from "simple-icons";
import Card from "../components/card.astro";
import Icon from "../components/icon.astro";

const favourites = [
    { icon: siGo, text: "Go" },
    { icon: siTypescript, text: "TypeScript" },
    { icon: siKotlin, text: "Kotlin" },
    { icon: siReact, text: "React" },
    { icon: siVuedotjs, text: "Vue" },
    { icon: siNestjs, text: "NestJS" },
    { icon: siNodedotjs, text: "Node.js" },
    { icon: siHono, text: "Hono"},
    { icon: siAmazonwebservices, text: "AWS" },
    { icon: siPostgresql, text: "Postgres" },
]
---
<h2 class="text-2xl sm:text-3xl font-bold">A couple of my favourite technologies</h2>
<div class="flex flex-col items-stretch gap-2 w-full">
    <div class="mt-4 w-full">
        <div class="grid grid-cols-2 sm:grid-cols-10 mt-2 gap-4 w-full">
            {favourites.map((t) => (
                <Card>
                    <Icon icon={t.icon} cn="w-6 h-6 sm:w-8 sm:h-8" />
                    <span class="transition duration-200 ease-in-out group-hover:text-accent text-center line-clamp-1 text-xs sm:text-base">{t.text}</span>
                </Card>
            ))}
        </div>
    </div>
</div>